{% extends "flights2/layout.html" %}

{% block title %}
    Add Airport
{% endblock %}

{% block body %}
    <h1>Add Airport</h1>
    <form action="{% url 'flights2:add_airport' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Code</label>
            {{ airport_form.code }}
            <label>City</label>
            {{ airport_form.city }}
            <button class="btn btn-dark" type="submit">Add</button>
        </div>
        <hr>
        <a href="{% url 'flights2:airports' %}">Back to Airports</a>
    </form>
{% endblock %}